@model ProductLocations_Draft11_Full.Models.TableCell

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h1>@ViewData["EntryId"]</h1>
<h1>@ViewData["ElementId"]</h1>
<h1>@ViewData["DateAdded"]</h1>*@

<table id="table0">
    <tr>
        <th></th>
    </tr>
    <tr>
        @foreach (var data in ViewData.AsEnumerable()) {
           <td>@data.Key</td>
        }
    </tr>
</table>

<table >
    <thead>
        <tr>
            <th>Product</th>
            <th>Primary</th>
            <th>Secondary</th>
        </tr>
    </thead>
    <tbody>
        <td>@Html.DisplayNameFor(model => model.EntryId)</td>
        <td>@Html.DisplayNameFor(model => model.ElementId)</td>
        <td>@Html.DisplayNameFor(model => model.DateAdded)</td>
    </tbody>

</table>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in model) {
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        }
    </tbody>
</table>